@{
    ViewBag.Title = "Home Page";
}

<div class="container container-fluid" style="margin-top:12vh; margin-left:-2.25vh; padding-top:10vh; padding-left:5vw;  height:70vh; width:100vw; 
        background-color:">
    
    <div style=" height:40vh; width: 20vw; background-color:; display:inline-block">
        <img src="~/Content/images/application.png" style="float:left; height: 100%; width: 100%; background-color:forestgreen; ">


    </div>

    <div style="background-color:;padding-top:2vh; vertical-align: top; height:55vh; width: 60vw; display:inline-block; padding-left:5vw;">
        <text style="background-color:; font-size:large; display:inline-block;
        background-color:; "><span style="">VeriScan</span> is an android application that helps scan receipt and stores the
        data in user's google drive account. Users can login to the application using their google credentials 
        take an image of their receipt and voice tag the image before storing it in google drive. The application
        will correctly identify the type of receipt, it's content and store the data in a spreadsheet along with 
        a link to the image in a google spreadsheet. The reciepts are sorted according to their type, date, month
        and year. The application can also work with e-mailed receipts providing user a way to process recripts 
        and to store them in their google drive account.</text>
    </div>
   
</div>