@{
    ViewBag.Title = "Home Page";
}

<div class="container container-fluid" style="margin-top:12vh; margin-left:-2.25vh; padding-top:10vh; padding-left:5vw;  height:70vh; width:100vw; 
        background-color:">
    
    <div style=" height:40vh; width: 20vw; background-color:; display:inline-block">
        <img src="~/Content/images/pr.png" style="float:left; height: 100%; width: 100%; background-color:forestgreen; ">


    </div>

    <div style="background-color:;padding-top:2vh; vertical-align: top; height:55vh; width: 60vw; display:inline-block; padding-left:5vw;">
        <text style="background-color:; font-size:large; display:inline-block">Project Description goes here </text>
    </div>
   
</div>