@{
    ViewBag.Title = "About";
}


<div class="container-fluid">

    <div class="rows container-fluid">

        <div class="col-sm-2 container-fluid">
            <h2></h2>
            <div style="display:inline">
                <img src="~/Content/images/RG.jpg" style="float:left; height: 100%; width: 100%; object-fit: contain" class="rounded float-left" alt="Responsive image">

            </div>

        </div>
        <div class="col-sm-8"style="display:inline" >
            <div class="text-justify left" style="padding-top:18px;">
                <p class="tab-content" style="font-family:'Times New Roman'; font-size:medium;";>
                    
                    <span style="font-weight:bold ">Mr. Ravi Ganta </span>is a technology entrepreneur and a leader in enterprise software
                    engineering. He is the founder and director of Mindagile.com, a software technology
                    consulting firm based in Houston, TX that builds innovative technology solutions for
                    its clients. He also serves as a technology advisor / technical co-founder on multiple
                    B2B and B2C start-up companies. He has over 15 years of experience in architecting and
                    building enterprise software in Media, Energy, Government, and Life Sciences domains.
                    He is passionate about the exponential potential of technology in improving lives, and
                    works to realize it through various entrepreneurial ventures. He believes that teaching
                    is the best way to learn, so he takes time to teach high school kids Math and Computer
                    Science, and also offers various Capstone projects to Computer Science graduate students
                    at University of Houston - Clear Lake.
                </p>
            </div>

        </div>
       
        </div>
    

    
    <div class="rows container-fluid">

        <div class="col-sm-2 container-fluid">
            <h2></h2>
            <div class ="container-fluid "style="display:inline">
                <img src="~/Content/images/GB.jpg" style="float:left; height: 100%; width: 100%; object-fit: contain" class="rounded float-left" alt="Responsive image">

            </div>

        </div>
        <div class="col-sm-8" style="display:inline">
            <div class="text-justify left" style="padding-top:57px;">
                <p class="tab-content" style="font-family:'Times New Roman'; font-size:medium;" ;>

                    <span style="font-weight:bold ">Dr. Boetticher</span> is an Associate Professor 
                    in Computer Science department at University of Houston-Clear Lake. His 
                    research areas include Financial Data Mining, Data Mining and Machine Learning.
</p>
            </div>

        </div>
        
    </div>
</div>